<p id="notice"><%= notice %></p>

<h1>User</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>User</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |u| %>
          <tr>
        <td><%= u.name %></td>
        <td><%= u.firstname %></td>
        <td><%= u.email%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
